.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  max-width: 299px;
  max-height: 454px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.25);
}

.card_img {
  width: 299px;
  max-height: 239px;
}
.card_button {
  position: relative;
  background-color: #d9d9d9;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-top: -25px;
  margin-left: 210px;
}
.card_content {
  padding: 1px 25px;
}
.card_tittle {
  color: #1a1e2e;
  font-size: 20px;
  font-weight: 600;
}

.card_p {
  color: #6e6a6c;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.card_link {
  color: #1b4db1;
  font-size: 14px;
  font-weight: 400;
}

.card_votes {
  color: #1a1e2e;
  font-size: 14px;
  font-weight: 400;
}
